.pilar {
  position: relative;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6em 1em 2em;
  margin: 6em 2em 0;
  border-radius: 150em 150em 0 0;
  background-color: var(--clr-primary-dark);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.image {
  position: absolute;
  top: -100px;
  width: 150px;
  margin-bottom: 1em;
  border: 3px solid var(--clr-white);
  aspect-ratio: 14/21;
  object-fit: cover;
}

.title {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: var(--clr-accent-soft);
  margin: 1.5em 0 2em;
}

.description {
  font-family: var(--font-basic);
  font-weight: 400;
  font-size: 1rem;
  color: var(--clr-white);
  text-align: center;
  margin-bottom: 1em;
}
