.section {
  /* background-image: url("/images/06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  padding: 3em 0;
  position: relative;
}

.bg_image {
  object-fit: cover;
  z-index: -10;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 2em;
  font-family: var(--font-basic);
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--clr-primary-dark);
}
