.section {
  background-image: url("/images/hero.jpg");
  padding: 3em 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  text-align: center;
  padding: 1em;
  background-color: var(--clr-primary-soft);
}

.intro h2 {
  margin-bottom: 0.5em;
  font-family: var(--font-accent);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-accent);
}

.intro h1 {
  font-family: var(--font-basic);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-primary-mid);
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-primary-mid);
  color: var(--clr-white);
  font-family: var(--font-accent);
  font-size: 1rem;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}

.arrow {
  height: 1em;
}
