.section {
  padding: 3em 0;
  background-color: var(--clr-white);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.introduction {
  margin-bottom: 0.5em;
  font-size: 1.625rem;
  font-family: var(--font-accent);
  font-weight: 500;
  color: var(--clr-black);
}
