:root {
  --clr-primary-dark: #006373;
  --clr-primary-mid: #05a3a4;
  --clr-primary-soft: #d9e5df;
  --clr-accent: #b35a22;
  --clr-accent-soft: #e8891d;
  --clr-white: #f6faf9;
  --clr-black: #0c0c20;

  --font-basic: "Quicksand", sans-serif;
  --font-accent: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-basic);
  font-size: 21px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
